In [33]:
import pandas as pd
import matplotlib.pyplot as plt

In [34]:
df1 = pd.read_csv("bushelsPerAcre.csv")
df1

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,SURVEY,2023,YEAR,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,171.0,NaN
1,SURVEY,2023,YEAR - AUG FORECAST,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,158.0,NaN
2,SURVEY,2023,YEAR - NOV FORECAST,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,171.0,NaN
3,SURVEY,2023,YEAR - OCT FORECAST,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,158.0,NaN
4,SURVEY,2023,YEAR - SEP FORECAST,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,160.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,SURVEY,1870,YEAR,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,22.0,NaN
329,SURVEY,1869,YEAR,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,20.0,NaN
330,SURVEY,1868,YEAR,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,23.0,NaN
331,SURVEY,1867,YEAR,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,24.0,NaN
332,SURVEY,1866,YEAR,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,25.0,NaN

In [35]:
df1 = df1[df1['Period'] == 'YEAR']
df1

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,SURVEY,2023,YEAR,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,171.0,NaN
5,SURVEY,2022,YEAR,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,165.0,NaN
10,SURVEY,2021,YEAR,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,175.0,NaN
15,SURVEY,2020,YEAR,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,155.0,NaN
20,SURVEY,2019,YEAR,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,161.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,SURVEY,1870,YEAR,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,22.0,NaN
329,SURVEY,1869,YEAR,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,20.0,NaN
330,SURVEY,1868,YEAR,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,23.0,NaN
331,SURVEY,1867,YEAR,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,24.0,NaN
332,SURVEY,1866,YEAR,NaN,STATE,MARYLAND,24,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - YIELD, MEASURED IN BU / ACRE",TOTAL,NOT SPECIFIED,25.0,NaN

In [36]:
df1.rename(columns={'Value': 'Bushels Per Acre'}, inplace=True)

C:\Users\Kabindra\AppData\Local\Temp\ipykernel_14088\3957048855.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.rename(columns={'Value': 'Bushels Per Acre'}, inplace=True)

In [44]:
yield_df = df1[['Year','Bushels Per Acre']]
yield_df

     Year  Bushels Per Acre
0    2023             171.0
5    2022             165.0
10   2021             175.0
15   2020             155.0
20   2019             161.0
..    ...               ...
328  1870              22.0
329  1869              20.0
330  1868              23.0
331  1867              24.0
332  1866              25.0

[158 rows x 2 columns]

In [41]:
weather_df = pd.read_csv("weather.csv")
weather_df = weather_df[['DATE','PRCP','TAVG','TMAX','TMIN']]
weather_df.rename(columns={'DATE' : 'Year'}, inplace = True)
weather_df

    Year   PRCP  TAVG  TMAX  TMIN
0   1940  42.01  53.9  62.5  45.3
1   1941  31.63  56.9  66.6  47.2
2   1942  43.48  56.5  65.2  47.9
3   1943  34.95  55.9  64.7  47.1
4   1944  40.05  56.2  64.7  47.7
..   ...    ...   ...   ...   ...
79  2019  38.15  58.0  68.0  48.1
80  2020  57.39  58.7  68.4  49.0
81  2021  40.82  58.7  68.8  48.7
82  2022  47.22  57.5  67.9  47.0
83  2023    NaN   NaN   NaN   NaN

[84 rows x 5 columns]

In [45]:
corn_yield = pd.merge(yield_df, weather_df, on='Year', how='inner')
corn_yield

    Year  Bushels Per Acre   PRCP  TAVG  TMAX  TMIN
0   2023             171.0    NaN   NaN   NaN   NaN
1   2022             165.0  47.22  57.5  67.9  47.0
2   2021             175.0  40.82  58.7  68.8  48.7
3   2020             155.0  57.39  58.7  68.4  49.0
4   2019             161.0  38.15  58.0  68.0  48.1
..   ...               ...    ...   ...   ...   ...
79  1944              35.3  40.05  56.2  64.7  47.7
80  1943              26.0  34.95  55.9  64.7  47.1
81  1942              36.0  43.48  56.5  65.2  47.9
82  1941              35.0  31.63  56.9  66.6  47.2
83  1940              34.0  42.01  53.9  62.5  45.3

[84 rows x 6 columns]

In [46]:
corn_yield.to_csv("corn_yield.csv")